@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap');
/*   font-family: "Manrope", sans-serif; */

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* universel select */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling body */
body{
    font-family: "Manrope", sans-serif;
}

/* shared style */
.container{
    width: 70%;
    margin: 0 auto;
}

/* styling the header section */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left{
    border: 1px solid black;
}
.header-right{
    border: 1px solid black;
    width: 500px;
}